.navigation {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: rgb(0, 0, 0);

  transition: padding ease-in-out 250ms;
}

@media screen and (min-width: 992px) {
  .navigation {
    padding-bottom: 300px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .solidNav {
    animation-name: navTransition;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .dropdownMenuButton {
    font-size: 1rem;
  }
}

@keyframes navTransition {
  0% {
    padding-bottom: 300px;
    background-color: rgba(0, 0, 0, 0);
  }

  40% {
    padding-bottom: 10px;
  }

  100% {
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 1);
  }
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  /* width: 100%; */
  display: block;
}

.imageContainer {
  width: 92px;
  height: auto;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  display: block;
  height: auto !important;
  /* object-fit: contain; */
  width: 100% !important;
  position: relative !important;
}

@media screen and (min-width: 992px) {
  .imageContainer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
  }
}

.imageLogo {
  content: url("/logo/logo_white.webp");
}

.logoMobile {
  height: 64px;
  width: auto;
  margin-bottom: 1rem;
}

.logoDesktop {
  height: 64px;
}

.active {
  color: #fff;
  text-shadow: 0px 0px 5px #ffffff6a;
  border-bottom: 3px solid #c78d38;
}

.dropdownMenuButton {
  margin-right: 2em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "lato", sans-serif;
  font-size: 0.6rem;
  letter-spacing: 0.2em;
  color: #fff;
  white-space: nowrap;
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid transparent !important;
  text-shadow: 0px 0px 0px #fff;
  transition: border-bottom 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.dropdownMenuButton:focus,
.dropdownMenuButton:target,
.dropdownMenuButton:focus-within,
.dropdownMenuButton:focus-visible,
.dropdownMenuButton:active,
.dropdownMenuButton .show,
.dropdownMenuButton:active:hover {
  border-color: #c78d38 !important;
  box-shadow: none !important;
}

.dropdownMenuButton:hover {
  border-color: #c78d38 !important;
}

.dropdownMenuButton:hover {
  background-color: transparent;
}

.dropdownMenu {
  background-color: #000000cc;
  border-radius: 3px;
}

.dropdownMenu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  border-bottom: 3px transparent solid;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  transition: border 250ms ease;
  font-size: 0.7rem;
}

.dropdownMenu a:hover {
  background-color: transparent;
}

.dropdownMenu a:hover a {
  border-color: #b67d28;
  background-color: none;
}

.button {
  background-color: #c78d38;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.6rem;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}

.button:hover {
  color: #fff;
  box-shadow: 0px 0px 5px #ffffff6a;
}

@media screen and (min-width: 1300px) {
  .button,
  .dropdownMenuButton,
  .dropdownMenu a {
    font-size: 0.8rem;
  }
}

.hiddenNav {
  transition: all 0.3s ease-in-out;
}

.hideButton {
  display: none;
}

.showButton {
  display: block;
}

.hide {
  opacity: 0;
  height: 0px;
  animation: slideUp 0.2s ease-out forwards;
}

.show {
  opacity: 1;
  height: 125px;
  animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideDown {
  0% {
    height: 0px;
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    height: 125px;
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    height: 125px;
    opacity: 1;
  }

  100% {
    height: 0px;
    opacity: 0;
  }
}

.mobileMenu {
  position: absolute;
  height: fit-content;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s linear;
  padding: 2rem;
  display: flex;
}

.navMobileLinks {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  width: fit-content;
  padding-right: 1rem;
}

.navMobLink {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
  border-bottom: 2px solid transparent;
  font-family: "lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.15em;
  font-weight: 700;
  text-transform: uppercase;
}

.navMobLink:last-child {
  margin-bottom: 0;
}
.navMobLink:hover {
  color: #fff;
  border-bottom: 2px solid #c78d38;
}
.navMobButton {
  background-color: #c78d38;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.navMobButton:hover {
  background-color: #c78d38;
  color: #fff;
}

.hideNav {
  left: -100%;
}

.showNav {
  left: 0%;
}

.toggler {
  background-color: transparent;
  width: 60px;
  height: 45px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 9999;
}

.togglerIcon {
  background: url("/hamburger.webp");
  background-size: cover;
  display: block;
  position: absolute;
  height: 30px;
  width: 50px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.open {
  transform-origin: center center;
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 10px !important;
  left: 0px;
}

.openDown {
  transform-origin: center center;
  transform: rotate(-135deg) !important;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 10px !important;
}

.closed {
  transform-origin: center center;
  transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0px;
}

.closedDown {
  transform-origin: center center;
  transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

@media screen and (max-width: 1055px) {
  .navItems {
    display: none;
  }

  .button {
    display: none;
  }
}

@media screen and (min-width: 1055px) {
  .toggler {
    display: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 620px) {
  .mobileMenu {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 400px) {
  .mobileMenu {
    width: 100%;
    height: 100vh;
  }
}
