.row {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.image {
  width: 100%;
  height: auto;
}

.taglineContainer {
  padding: 2rem 0;
  padding-right: 2rem;
}

.tagline {
  font-size: 3rem;
  color: #c78d38;
}

.textContainer {
  padding-top: 2rem;
  padding-left: 2rem;
  max-width: 500px;
}

.text {
  font-size: 1rem;
  line-height: 1.7rem;
}

.textContainer h2 {
  padding-bottom: 1rem;
}

.calltoaction {
  display: inline-block;
  background-color: #c78d38;
  padding: 1rem;
  width: auto;
  color: #fff;
  margin-left: 2rem;
  margin-top: 1rem;
}

.calltoaction a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookletModal {
  width: min-content;
  border-radius: 0;
  margin-top: 92px;
}

.bookletBody {
  width: min(800px, 95vw);
  height: 80vh;
}

.booklet {
  width: 100%;
  height: 100%;
}

.welcomeBookletButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #c78d38;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #fff;
}

.welcomeBookletDownload {
  display: inline-block;
  margin-top: 5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #c78d38;
  color: #fff;
  margin-top: 1rem;
}

.welcomeBookletDownload:hover {
  color: #fff;
}

.formContainer {
  position: relative;
}

.formWrapper {
  position: relative;
  z-index: 1;
}

.form input {
  margin-bottom: 0.75rem;
}

.formWrapper button[type="submit"] {
  display: block;
  border-radius: 0;
  background-color: #c78d38;
  text-transform: uppercase;
  font-weight: bold;
  border: 0px;
  margin-top: 1rem;
}

.points {
  margin-left: 0px;
}

.ageCheck {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.ageCheck:checked {
  content: "";
  background-color: #c78d38;
  height: 30px;
  width: 30px;
}

@media (width < 992px) {
  .textContainer {
    max-width: 100%;
  }

  .welcomeBookletButton {
    display: none;
  }
}

@media (width >= 992px) {
  .welcomeBookletDownload {
    display: none;
  }
}
